body,
div,
nav,
img,
h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Georgia", serif;
}
.botao{
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #222;
  border: 3px solid #222;
  padding: 10px 20px;  
  display: inline-block;
}
/********************* HEADER *****************/

.menu-bg {
  background-color: #222;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

}
.logo{
  padding: 10px;
}
.menu a{
  display: block;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar li {
  display: inline-block;
  margin-left: 10px;
}
.nav-bar a {
  color: #fff;
  font-size: 1.25rem;
  padding: 10px;
}

/**************** MENU MOBILE ************************/
.js [data-menu="button"]{
  display: none;
}

@media (max-width: 760px){
    .js [data-menu="button"]{
    display: flex;
    align-items: center;
    background: #222;
    border: 2px solid #fff;
    padding: 16px 12px;
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    z-index: 250;
   }
  
   .js [data-menu="button"]::before{
    content: '';
    display: inline-block;
    height: 2px;
    width: 22px;
    background-color: #fff;
    box-shadow: 0 6px #fff, 0 -6px #fff;
    transition: transform .3s;
}
 .js [data-menu="button"].active::before{
  transform: rotate(-180deg);

 } 
   .js #menu{
     display: none;
     position: absolute;
     width: 160px;
     z-index: 200;
     padding: 20px 0px 20px 0px;
     top: 80px;
     right: 10px;
     background: rgba(73, 41, 1, 0.28);
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5.9px);
     -webkit-backdrop-filter: blur(5.9px);

}
@keyframes show-left {
  from {
    opacity: 0;
    transform: translate3d(10px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.js #menu.active{
  display: block;
  animation: show-left .3s forwards;
}
}

/************************************ ***************************************/



/********************* INTRODUÇÃO *****************/

.intro-bg {
  background: url(img/bg-intro.jpg) no-repeat center center;
  background-size: cover;
}
.intro-texto {
  color: #fff;
  text-align: center;
  padding: 150px 0;
}
.intro-texto h1 {
  font-size: 3rem;
  text-transform: uppercase;
  position: relative;
  
}
.intro-texto h1:after {
  content: "";
  display: block;
  width: 16px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  left: 50%;
}
.intro-texto p {
  font-size: 1.25rem;
  margin-top: 10px;
}
@media (max-width: 760px){
  .intro-texto{
    padding: 60px 0;
  }
}
@media (max-width: 560px){
.intro-texto h1{
  font-size: 2rem;
}
.intro-texto p {
font-size: 1rem;
}

}

/********************* AMOR E PERFEIÇÃO *****************/

.mistura {
  padding: 60px 10px;
}
.mistura h2 {
  margin-bottom: 60px;
  text-align: center;
  font-size: 2.25rem;
}
.mistura-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.mistura-item h3 {
  background-color: #222;
  color: #fff;
  font-size: 1.5rem;
  display: inline-block;
  padding: 10px 40px;
  position: relative;
  top: -25px;
  font-weight: normal;
  font-style: italic;
}
@media (max-width: 760px){
.mistura-container{
  flex-wrap: wrap;
}
.mistura{
  padding: 40px 10px
}
.mistura h2{
  margin-bottom: 40px;
}
}

.contem {
  margin: 20px auto;
  max-width: 460px;
}
.contem p{
  font-size: 1.25rem;
  line-height: 1.4em;
  text-align: center;
  font-style: italic;
}

/********************* TIPOS DE CAFÉ *****************/

.tipos-bg {
  background-color: #e7e4d8;
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;
  padding: 80px 0 80px;
  text-align: center;

}
.tipos-container {
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  gap: 20px;
}
.tipos-item{
  padding: 0 10px;
}
.tipos-item h3 {
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
  position: relative;
}
.tipos-item h3:before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 5px inset bisque, 0 0 0 5px #222;
  border-radius: 50%;
  margin: 20px auto;
}
.paulista h3:before{
  background-color: #492901;
  box-shadow: 0 0 0 5px inset bisque, 0 0 0 5px #492901;
}
.carioca h3:before{
  background-color: #c17139;
  box-shadow: 0 0 0 5px inset bisque, 0 0 0 5px #c17139;

}
.mineiro h3:before{
  background-color: #d7a54d;
  box-shadow: 0 0 0 5px inset bisque, 0 0 0 5px #d7a54d;

}

.tipos-bg .botao {
  margin-top: 40px;
}
@media (max-width: 760px){
.tipos-bg{
  padding: 60px 0 60px;
}
.tipos-container{
  flex-wrap: wrap;
  max-width: 350px;
}
}
/************* LOJAS ********************/

.lojas {
  margin: 80px auto;
  padding: 0 10px;
}
.loja {
  display: flex;
  gap: 40px;
}

.loja-texto {
  max-width: 360px;
}
.loja-texto h3 {
  font-size: 2rem;
}
.loja-texto p {
  margin: 20px 0;
}

.loja:first-child,
.loja:nth-child(2) {
  margin-bottom: 40px;
}
@media (max-width: 760px){
  .lojas {
    margin: 60px 20px;
  }
 
 .loja .botao{
  font-size: 1rem;
  color: #222;
  border: 3px solid #222;
  padding: 10px 20px;  
}
.loja:first-child,
.loja:nth-child(2) {
  margin-bottom: 20px;
}
}
@media (max-width: 700px){
  .loja{
    flex-wrap: wrap;
    justify-content: left;
    gap:20px;
}
.loja img{
  max-width: 100%;
}
}

/******************** FORM ***************************/
.news-bg{
  background-color: #e7e4d8;
  padding: 30px 10px;
}
.news{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}
.news h2{
  font-size: 2.25em;
}

.news p{
  font-size: 1.5em;
  font-style: italic;
}

form {
  width: 460px;
}
@media(max-width: 950px){
  form{
  margin-top: 20px;
}
}

form label {
  font-size: 2rem;
  display: none;
}
.news input{
  width: 288px;
  border: 3px solid #252525;
  background: none;
  font-size: 1.5em;
  padding: 10px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.news button{
  background-color: #252525;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 1.5em;
  width: 140px;
  padding: 13px 0;
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
}
@media(max-width: 490px){
  .news input{
    display: block;
  }
  .news button{
    position: relative;
  }
}
.footer-bg{
  background-color: #d6d3c8;
  padding: 20px 0;
}
.footer{
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0 10px;
  flex-wrap: wrap;
  flex: 1;
}
.footer img, .footer p{
  padding: 10px 0
}